<!-- inspections/templates/inspections/inspection_form.html -->{% extends 'assets/main.html'%}
{% load static %}


{% block mainContent%}
    <h3>{% if form.instance.pk %}Update{% else %}Create{% endif %} Survey</h3>
    <dev class="mobile-font-size">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit">Save</button>
    </form>
    </dev>

    <a href="javascript:history.back()" class="btn btn-secondary mt-3">Back</a>
    {% endblock mainContent%}