<!-- inspections/templates/inspections/inspection_form.html -->
{% extends 'assets/main.html'%}
{% load crispy_forms_tags %}
{% load static %}


{% block mainContent%}
<div style="padding:20px 20px 20px 20px;">
    <br>
    <a class="btn btn-primary btn-lg" href="{% url 'inspection_list' %}"> &#8592 Back </a>
    <br><br>

    <h3>{% if form.instance.pk %}Update{% else %}Create{% endif %} Survey</h3>
    <dev class="mobile-font-size">
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary btn-lg" >Save</button>
    </form>
    </dev>
</div>
{% endblock mainContent%}