{% extends 'assets/main.html'%}
{% load crispy_forms_tags %}
{% load static %}


{% block mainContent%}
<div style="padding:20px 20px 20px 20px;">
    <br>
    <a class="btn btn-primary btn-lg" href="{% url 'photo_list' photo.inspection.id %}"> &#8592 Back </a>
    <br><br>

    <img src="{{ photo.image.url }}" alt="{{ photo.description }}" style="max-width: 100%;">
    <p>{{ photo.description }}</p>
    <p><small>Uploaded on {{ photo.created_at }}</small></p>
    <div class="d-grid gap-2 col-6 mx-auto">
        <a class="btn btn-primary btn-lg" href="{% url 'photo_list' photo.inspection.id %}"> &#8592 Back </a>
    </div>
</div>
 {% endblock mainContent%}