{% extends 'assets/main.html'%}
{% load static %}


{% block mainContent%}

    <h3>{{ inspection.vehicle }} </h3>
    <a class="btn btn-primary btn-lg" href="{% url 'upload_photo' inspection.id %}"> <i class="bi bi-camera"></i> ถ่ายภาพ</a>
    <a class="btn btn-primary btn-lg" href="{% url 'upload_photo2' inspection.id %}" style="margin-left:20px;"> <i class="bi bi-box-arrow-up"></i>โหลดภาพ</a>
    <br><br>
    <ul>
        {% for photo in photos %}
        <li>
            <a href="{% url 'photo_detail' photo.id %}">
            <img src="{{ photo.image_thumbnail.url }}" alt="{{ photo.description }}" style="max-width: 100px;">
            </a>
            <p>{{ photo.description }}</p>
            <p><small>Uploaded on {{ photo.created_at }}</small></p>
          </li>

        {% endfor %}
    </ul>
    {% endblock mainContent%}
