<!-- inspections/templates/inspections/vehicle_list.html -->

{% extends 'assets/main.html'%}
{% load static %}


{% block mainContent%}

    <h2>Vehicles List</h2>
    <ul>
        {% for vehicle in vehicles %}
            <li>
                {{ vehicle.license_plate }} - 
                <a href="{% url 'vehicle_detail' vehicle.id %}">Details</a> | 
                <a href="{% url 'vehicle_update' vehicle.id %}">Update</a> | 
                <form action="{% url 'vehicle_delete' vehicle.id %}" method="post">
                    {% csrf_token %}
                    <button type="submit">Delete</button>
                </form>
            </li>
        {% endfor %}
    </ul>
    <a href="{% url 'vehicle_create' %}">Add Vehicle</a>

    <{% endblock mainContent%}
